* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body, 
#root {
  width: 100%;
  color: whitesmoke;
  background-color: rgba(22, 31, 48);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}

.highlight{
  color: rgba(248, 177, 121);
}